
.tutorial-page-content {
    text-align: left;
    width: 70%;
    &-grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    &-text {
        margin-left: 70px;
        margin-bottom: 10px;
    }
    &-title {
        margin-top: 10px;
        text-align: center;
    }
    &-subtitle {
        text-align: center;
    }
}

.euler-first-line {
    width: 50%;
}

.euler-page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &-image {
        margin-left: 20px;
    }
    &-text {
        margin: auto 0;
    }
}

.euler-second-line {
    display: flex;
    margin-left: 100px;
    align-content: flex-start;
}

.euler-third-line {
    display: flex;
    margin-left: 100px;
    align-content: flex-start; 
}