.equation {
    font-style: normal;
    .MJXp-italic {
        font-style: normal;
    }
    .mjx-math {
        font-style: normal !important; 
    }
}

#MathJax-Element-1-Frame {
    .mjx-mrow {
        font: "Ariel";
        font-style: normal !important;
    }
}