.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 1200px;
  width: 100%;
  display: inline-block;
  &-footer {
    margin-top: 20px;
    color: #FFFF66;
    text-align: center;
    font-size: 10px;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

